<div class="summary-div">
  <mat-accordion class="accordion" *ngFor="let letter of letters">
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Pokémons que empiezan con "{{ letter | uppercase }}"
        </mat-panel-title>
        <mat-panel-description>
          {{ getPokemonsByLetter(letter).length }}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div *ngFor="let pokemon of getPokemonsByLetter(letter)">
        <p>{{ pokemon.name | titlecase }}</p>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
