<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>{{ name | titlecase }}</mat-card-title>
    <mat-card-subtitle>
      <mat-chip-set>
        <mat-chip class="{{ pokemonDetail.types[0].type.name }}">
          {{ pokemonDetail.types[0].type.name | titlecase }}
        </mat-chip>
        <mat-chip
          *ngIf="hasSecondType"
          class="{{ pokemonDetail.types[1].type.name }}"
        >
          {{ pokemonDetail.types[1].type.name | titlecase }}
        </mat-chip>
      </mat-chip-set>
    </mat-card-subtitle>
  </mat-card-header>
  <div class="center">
    <img
      mat-card-image
      src="{{ pokemonDetail.sprites.front_default }}"
      alt="Front view of {{ name }}"
      height="96px"
      width="96px"
    />
    <img
      mat-card-image
      src="{{ pokemonDetail.sprites.back_default }}"
      alt="Back view of {{ name }}"
      height="96px"
      width="96px"
    />
  </div>

  <mat-card-content>
    <button
      mat-icon-button
      color="accent"
      aria-label="Mark as favorite pokemon"
      (click)="markAsFavoritePokemon(name)"
    >
      <mat-icon>favorite</mat-icon>
    </button>
    <table>
      <tr>
        <th>Height</th>
        <th>Weight</th>
      </tr>
      <tr>
        <td>{{ pokemonDetail.height }}</td>
        <td>{{ pokemonDetail.weight }}</td>
      </tr>
    </table>
    <table>
      <tr>
        <th colspan="2">Abilities</th>
      </tr>
      <tr>
        <td>{{ pokemonDetail.abilities[0].ability.name | titlecase }}</td>
        <td>
          {{ pokemonDetail.abilities[1].ability.name | titlecase }}
          <small>Hidden Ability</small>
        </td>
      </tr>
    </table>
  </mat-card-content>
</mat-card>
