.example-card {
  max-width: 400px;
}

.center {
  text-align: center;
}

.normal {
  background-color: #a8a878 !important;
  border: 1px solid #6d6d4e;
}

.fire {
  background-color: #f08030 !important;
  border: 1px solid #9c531f;
}

.fighting {
  background-color: #c03028 !important;
  border: 1px solid #7d1f1a;
}

.water {
  background-color: #6890f0 !important;
  border: 1px solid #445e9c;
}

.flying {
  background-color: #a890f0 !important;
  border: 1px solid #6d5e9c;
}

.grass {
  background-color: #78c850 !important;
  border: 1px solid #4e8234;
}

.poison {
  background-color: #a040a0 !important;
  border: 1px solid #682a68;
}

.electric {
  background-color: #f8d030 !important;
  border: 1px solid #a1871f;
}

.ground {
  background-color: #e0c068 !important;
  border: 1px solid #927d44;
}

.psychic {
  background-color: #f85888 !important;
  border: 1px solid #a13959;
}

.rock {
  background-color: #b8a038 !important;
  border: 1px solid #786824;
}

.ice {
  background-color: #98d8d8 !important;
  border: 1px solid #638d8d;
}

.bug {
  background-color: #a8b820 !important;
  border: 1px solid #6d7815;
}

.dragon {
  background-color: #7038f8 !important;
  border: 1px solid #4924a1;
}

.ghost {
  background-color: #705898 !important;
  border: 1px solid #493963;
}

.dark {
  background-color: #705848 !important;
  border: 1px solid #49392f;
}

.steel {
  background-color: #b8b8d0 !important;
  border: 1px solid #787887;
}

.fairy {
  background-color: #ee99ac !important;
  border: 1px solid #9b6470;
}
